.categoryTable {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9rem;
	margin-bottom: 32px;
}

.categoryTable td,
.categoryTable th {
	border: 1px solid #333;
	padding: 4px 6px;
}

.categoryHeader {
	background: gray;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}