<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Transaction Date</mat-label>
        <input matInput [(ngModel)]="data.date">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Cost</mat-label>
        <input matInput [(ngModel)]="data.cost">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Type</mat-label>
        <input matInput [(ngModel)]="data.type">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Category</mat-label>
        <input matInput [(ngModel)]="data.category">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Sub-category</mat-label>
        <input matInput [(ngModel)]="data.subcategory">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions id="transaction-form-button-row">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>