<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Transaction Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Cost</mat-label>
        <input type="number" matInput [(ngModel)]="data.cost">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Type</mat-label>
        <mat-select [(ngModel)]="data.type">
            <mat-option value="Debit">Debit</mat-option>
            <mat-option value="Credit">Credit</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Category</mat-label>
        <mat-select [(ngModel)]="data.category">
            <mat-option *ngFor="let category of categoriesList" [value]="category">{{ category }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Transaction Sub-category</mat-label>
        <mat-select [(ngModel)]="data.subcategory">
            <mat-option *ngFor="let subcategory of categoryMapping[data.category]" [value]="subcategory">{{ subcategory }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions id="transaction-form-button-row">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>