p {
	text-align: center;
}

/* Contributes to scrollability for table */
.monthsConfiguration {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.currentMonth {
	background-color: #dedede;
	font-weight: 600;
}