.transaction-item {
    border: 2px black;
    border-style: solid;
    max-width: 350px;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
}

.transaction-item p, .transaction-item h2 {
    margin: 2px auto;
}

.transaction-item:first-child {
    margin-top: 75px;
}

.transaction-item:last-child {
    margin-bottom: 100px;
}

.button-row {
    float: right;
}

.date-text {
    position: relative;
    left: 20px;
    pointer-events: none;
}