p {
	text-align: center;
}

.bankAccountsConfiguration {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tableWrapper {
	width: 35%;
	overflow-y: auto;
	margin: 1rem auto;

	border: 1px solid #e5e7eb;
	border-radius: 8px;

	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.05),
		0 4px 8px rgba(0, 0, 0, 0.04);
}

.bankAccountsTable {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.95rem;
}

.bankAccountsTable td {
	padding: 0.75rem 1rem;
	border-bottom: 1px solid #f0f0f0;
}

.bankAccountsTable tbody tr:nth-child(even) {
	background-color: #f8f8f8;
}

.bankAccountsTable tbody tr:hover {
	background-color: #c4c4c4;
}

.iconButton {
	float: right;
	background: none;
	border: none;
	cursor: pointer;
	margin: 0 0.25rem;
	display: inline-flex;
	font-size: 1rem;
	color: #333;
}

.iconButton:hover {
	color: #111827;
}

.delete:hover {
	color: #dc2626;
}

.edit:hover {
	color: gray;
}