<div id="overview">
    <h2>Overview</h2>
    <table id="income-table">
        <tr>
            <td>Expected Income</td>
            <td>$3000.00</td>
        </tr>
        <tr>
            <td>Actual Income</td>
            <td>$2782.01</td>
        </tr>
    </table>
    <table id="expense-table">
        <tr>
            <td>Expected Expenses</td>
            <td>$3000.00</td>
        </tr>
        <tr>
            <td>Actual Expenses</td>
            <td>$2782.01</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Expected Remaining</td>
            <td>$3000.00</td>
        </tr>
        <tr>
            <td>Actual Remaining</td>
            <td>$2782.01</td>
        </tr>
    </table>
    <table id="previous-month-table">
        <tr>
            <td>Balance from May</td>
            <td>$3000.00</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Expected Balance</td>
            <td>$3000.00</td>
        </tr>
        <tr>
            <td>Actual Balance</td>
            <td>$2782.01</td>
        </tr>
    </table>
</div>
