#overview {
    max-width: 350px;
    text-align: center;
    margin: 5px auto;
    border: 1px solid black;
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    margin: 0 auto 10px auto;
    width: 75%;
}

td {
    border: 1px solid black;
    padding: 3px;
}

td:first-child {
    width: 175px;
    text-align: left;
}

td:last-child {
    text-align: right;
}

#income-table {
    background-color: lightgreen;
}

#expense-table {
    background-color: lightpink;
}

#previous-month-table {
    margin-top: 30px;
    margin-bottom: 30px;
}