#months-configuration {
	height: 95%;
	display: flex;
	flex-direction: column;
}

#table-wrapper {
	width: 50%;
	overflow-y: auto;
	margin: 1rem auto;

	border: 1px solid #e5e7eb;
	border-radius: 8px;

	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.05),
		0 4px 8px rgba(0, 0, 0, 0.04);
}

#months-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.95rem;
}

#months-table td {
	padding: 0.75rem 1rem;
	border-bottom: 1px solid #f0f0f0;
}

#months-table tbody tr:nth-child(even) {
	background-color: #f8f8f8;
}

#months-table tbody tr:hover {
	background-color: #c4c4c4;
}

#months-table td:nth-child(2),
#months-table td:nth-child(3) {
	width: 2rem;
	text-align: right;
}

.current-month {
	background-color: #dedede;
	font-weight: 600;
}