* {
	font-family: Arial, Helvetica, sans-serif
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

body {
	overflow: hidden;
}

#app-layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#app-content {
	overflow: hidden;
}