#bottom-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

a div {
    display: inline-block;
    width: 24%;
    margin: 0;
    border: 1px black;
    border-style: solid;
    text-align: center;
    padding: 25px 0;
    background-color: white;
}