#bottom-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: lightsalmon;
}

a div {
    display: inline-block;
    width: 25%;
    margin: 0;
    outline: 1px black solid;
    text-align: center;
    padding: 25px 0;
}