#settings {
    border: 1px solid black;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    margin: 0 auto 10px auto;
}

td {
    border: 1px solid black;
    padding: 3px;
}

td:first-child {
    text-align: left;
}